.loginContainer {
    background: linear-gradient(0deg, rgba(42,209,211,1) 0%, rgba(120,198,199,1) 32%, rgba(227,242,253,1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cardLogin {
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    margin: 13px 0;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 80%;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s
}

input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus {
    width: 90%;
    border-color: #2ecc71;
}

input[type="submit"] {
    background: none;
    display: block;
    margin: 20px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

input[type="submit"]:hover {
    background: #2ecc71
}
